<motokob-sidenav></motokob-sidenav>

<div class="modal fade" tabindex="-1" role="dialog" id="modalNavigate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>No existe ningún cliente con ese número de documento. ¿Deseas crearlo?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="navigateToCustomer()">Sí</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modalNewItem">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
        <div class="row" *ngIf="panelShown === 'brands'">
          <div class="col-xs-12">
            <h2>Selecciona una marca</h2>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let brand of brands">
            <div class="brand-card" (click)="selectBrand(brand)">
              <div class="brand-logo"><img class="img-responsive" src="assets/img/brands/{{brand.name}}.png"></div>
              <div class="brand-name">{{brand.name}}</div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="panelShown === 'bikes'">
          <div class="col-xs-12">
            <h2>
              <span class="btn btn-default btn-lg" (click)="panelShown = 'brands'">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Volver
              </span> Selecciona una moto
            </h2>
          </div>
          <div class="col-xs-12" *ngIf="!bikes || bikes.length == 0">
            No hay motos registradas para esta marca
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let bike of bikes">
            <div class="bike-card" (click)="selectBike(bike)">
              <div class="bike-image"><img class="img-responsive" src="{{getImage(bike.images[0])}}"></div>
              <div class="bike-name">{{bike.name}}</div>
              <div class="bike-price">${{bike.price | number:0}}</div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="panelShown === 'modelAndColor'">
          <div class="col-xs-12">
            <h2>
              <span class="btn btn-default btn-lg" (click)="panelShown = 'bikes'">
                  <span class="glyphicon glyphicon-circle-arrow-left"></span> Volver
              </span> Selecciona el color
            </h2>
          </div>
          <div class="col-xs-12">
            <form>
              <select name="selectedColor" [(ngModel)]="selectedColor">
                <option selected value="" disabled style="display: none">Selecciona un color</option>
                <option *ngFor="let color of selectedBike.colors" value="{{color._id}}">{{color.name}}</option>
              </select>
            </form>
            <br>
            <button class="btn btn-primary btn-lg" type="button" (click)="panelShown = 'dyn-costs'" [disabled]="!selectedColor">Continuar</button>
          </div>
        </div>

        <div class="row" *ngIf="panelShown === 'dyn-costs'">
          <div class="col-xs-12">
            <h2>
              <span class="btn btn-default btn-lg" (click)="panelShown = 'modelAndColor'">
                  <span class="glyphicon glyphicon-circle-arrow-left"></span> Volver
              </span> Agrega opciones
            </h2>
          </div>
          <div class="col-xs-12 col-md-5">
            <label for="costName">Opción</label>
            <select id="costName" name="selectedCostName" [(ngModel)]="selectedCostName" (change)="selectCostName()">
                <option style="display:none" disabled selected value=''>Seleccione una opción</option>
                <option [selected]="selectedOption == option" name="" *ngFor="let option of costOptions" [value]="option">{{option}}</option>
              </select>
          </div>
          <div class="col-xs-12 col-md-5">
            <label for="costOption">Valor/Dept</label>
            <select id="costOption" name="selectedCostOption" [(ngModel)]="selectedCostOption">
                <option style="display:none" disabled selected value=''>Seleccione una opción</option>
                <option [selected]="selectedCostOption == option._id" name="" *ngFor="let option of filteredOptions" [value]="option._id">{{option.state.name}} - {{option.value | number}}</option>
              </select>
          </div>
          <div class="col-xs-12 col-md-2" style="margin-top: 25px;">
            <button class="btn btn-primary btn-lg" (click)="addSelectedCost()" [disabled]="!selectedCostName || !selectedCostOption">Agregar</button>
          </div>
          <div class="col-xs-12" style="margin-top: 25px;" *ngIf="additionalCosts.length > 0">
            <table class="table table-responsive">
              <tr>
                <th>Opción</th>
                <th>Valor</th>
              </tr>
              <tr *ngFor="let option of additionalCosts">
                <td>{{option.costName}}</td>
                <td>{{option.costOption.state.name}} - {{option.costOption.value | number}}</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-12">
            <br>
            <button class="btn btn-primary btn-lg" type="button" (click)="panelShown = 'quot-type'">Continuar</button>
          </div>
        </div>

        <div class="row" *ngIf="panelShown === 'quot-type'">
          <div class="col-xs-12">
            <h2>
              <span class="btn btn-default btn-lg" (click)="panelShown = 'dyn-costs'">
                      <span class="glyphicon glyphicon-circle-arrow-left"></span> Volver
              </span> Tipo de cotización
            </h2>
          </div>
          <div class="col-xs-6">
            <div class="quot-type" (click)="selectQuotationType('credito')">
              CRÉDITO
            </div>
          </div>
          <div class="col-xs-6">
            <div class="quot-type" (click)="selectQuotationType('contado')">
              CONTADO
            </div>
          </div>
        </div>

        <div class="row" *ngIf="panelShown === 'credit-params'">
          <div class="col-xs-12">
            <h2>
              <span class="btn btn-default btn-lg" (click)="panelShown = 'modelAndColor'">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Volver
              </span> Tipo cotización
            </h2>
          </div>
          <div *ngIf="true">
            <div class="col-xs-6">
              <label for="initial_payment">Inicial</label>
              <input id="initial_payment" type="number" class="form-control input-lg" name="initial_payment" placeholder="Cuota inicial"
                [(ngModel)]="initialPayment">
            </div>
            <div class="col-xs-6">
              <label for="installments">Plazo</label>
              <!--
              <select id="installments" name="installments" [(ngModel)]="selectedInstallments">
                <option style="display:none" disabled selected value=''>¿A cuantas cuotas?</option>
                <option [selected]="selectedOption == option" name="" *ngFor="let option of costOptions" [value]="option">{{option}}</option>
              </select>
            -->
            </div>
            <div class="col-xs-6">
              <label for="initial_payment">Descuento</label>
              <input id="initial_payment" type="number" class="form-control input-lg" name="initial_payment" placeholder="Cuota inicial"
                [(ngModel)]="initialPayment">
            </div>
            <!-- Por definir: el soat varia por departamento? -->
            <!--<div class="col-xs-6">
              <label for="initial_payment">SOAT</label>
              <input id="initial_payment" type="number" class="form-control input-lg" name="initial_payment" placeholder="Cuota inicial" [(ngModel)]="">
            </div>-->
            <div class="col-xs-6">
              <label for="initial_payment">Inicial*</label>
              <input id="initial_payment" type="number" class="form-control input-lg" name="initial_payment" placeholder="Cuota inicial"
                [(ngModel)]="initialPayment">
            </div>
            <div class="col-xs-6">
              <label for="initial_payment">Inicial*</label>
              <input id="initial_payment" type="number" class="form-control input-lg" name="initial_payment" placeholder="Cuota inicial"
                [(ngModel)]="initialPayment">
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modalQuotationOptions">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <label for="quotType">Incluir costos</label>
            <select id="quotType" name="selectedType" (change)="selectType()" [(ngModel)]="selectedType">
              <option style="display:none" disabled selected value=''>¿Contado? ¿Crédito?</option>
              <option [selected]="selectedType == 'CONTADO'" value="CONTADO">Contado</option>
              <option [selected]="selectedType == 'CR1'" value="CR1">Crédito</option>
              <option [selected]="selectedType == 'CR2'" value="CR2">Crédito brilla</option>
            </select>
          </div>
          <div class="col-xs-6">
            <label for="quotType">Tipo venta</label>
            <select id="quotType" name="selectedType" (change)="selectType()" [(ngModel)]="selectedType">
              <option style="display:none" disabled selected value=''>¿Contado? ¿Crédito?</option>
              <option [selected]="selectedType == 'CONTADO'" value="CONTADO">Contado</option>
              <option [selected]="selectedType == 'CR1'" value="CR1">Crédito</option>
              <option [selected]="selectedType == 'CR2'" value="CR2">Crédito brilla</option>
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="quotType">Tipo venta</label>
            <select id="quotType" name="selectedType" (change)="selectType()" [(ngModel)]="selectedType">
              <option style="display:none" disabled selected value=''>¿Contado? ¿Crédito?</option>
              <option [selected]="selectedType == 'CONTADO'" value="CONTADO">Contado</option>
              <option [selected]="selectedType == 'CR1'" value="CR1">Crédito</option>
              <option [selected]="selectedType == 'CR2'" value="CR2">Crédito brilla</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg" disabled>Eliminar</button>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)="saveLine()">Guardar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<h3 class="section-title">Cotizaciones</h3>
<div class="container">
  <!-- cliente, producto x cantidad -->
  <div class="row">
    <form>
      <div class="col-xs-12 col-sm-6">
        <label for="documentNumber">Cliente</label>
        <div class="input-group">
          <input id="documentNumber" [(ngModel)]="customerDocumentNumber" name="documentNumber" type="text" class="form-control input-lg"
            placeholder="Ingresa la cédula">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="button" (click)="searchCustomer()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
      <div class="col-xs-12 col-sm-6">
        <label for="customerName">Nombre</label>
        <input id="customerName" [(ngModel)]="customerName" name="customerName" type="text" class="form-control input-lg" placeholder="Nombre del cliente"
          disabled/>
      </div>
    </form>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#modalNewItem">Agregar <span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessageAdding">
        <p>{{errorMessageAdding}}</p>
      </div>
      <div class="alert alert-info" role="alert" *ngIf="successMessageAdding">
        <p>{{successMessageAdding}}</p>
      </div>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="adding">
    <form (submit)="addBike()">
      <div class="col-xs-12 col-sm-4">
        <label for="productBrand">Marca</label>
        <select id="productBrand" name="selectedBrand" (change)="selectBrand()" [(ngModel)]="selectedBrand">
          <option style="display:none" disabled selected value=''>Seleccione una marca</option>
          <option [selected]="selectedBrand == brand._id" value="{{brand._id}}" *ngFor="let brand of brands">{{brand.name}}</option>
        </select>
        <!-- /input-group -->
      </div>
      <div class="col-xs-12 col-sm-4">
        <label for="product">Moto</label>
        <select id="product" name="selectedBike" [(ngModel)]="selectedBike" [disabled]="!selectedBrand || selectedBrand.length === 0">
          <option style="display:none" disabled selected value=''>Seleccione una moto</option>
          <option [selected]="selectedBike == bike._id" name="" *ngFor="let bike of bikes" [value]="bike._id">{{bike.name}} {{bike.cylinder}} {{bike.model}} {{bike.color}}</option>
        </select>
        <!-- /input-group -->
      </div>
      <div class="col-xs-12 col-sm-2">
        <label for="quantity">Cantidad</label>
        <input id="quantity" [(ngModel)]="quantity" name="quantity" class="form-control input-lg" placeholder="Cantidad" type="number"
          min="1" max="30" />
      </div>
      <div class="col-xs-12 col-sm-2">
        <button id="btn_add_bike" class="btn btn-danger btn-lg" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <br />
  <div class="row">
    <div *ngFor="let line of quotation.items">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="quot-item" (click)="selectBike(line)">
          <div class="col-xs-12">
            <img class="img-responsive" src="{{getImage(line.itemImage)}}" class="item-image" />
          </div>
          <div class="col-xs-6">
            <span class="item-label">Valor unitario</span>
            <p class="item-price">${{line.unitPrice | number:0}}</p>
          </div>
          <div class="col-xs-6">
            <span class="item-label">Unidades</span>
            <p class="item-price">{{line.quantity | number:0}}</p>
          </div>
          <div class="col-xs-12">
            <span class="item-label">Subtotal</span>
            <p class="item-subtotal">${{line.unitPrice * line.quantity | number:0}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>