<motokob-sidenav></motokob-sidenav>
<h3 class="section-title">Administrar Clientes</h3>
<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="alert alert-success" role="alert" *ngIf="successMessage">{{successMessage}}</div>
  <div class="form-customers" id="formCustomers">
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="documentType">Tipo Documento</label>
          <select id="documentType" name="selectedDocType" [(ngModel)]="customer.documentType">
            <option style="display:none;" disabled selected value>Selecciona un tipo de documento</option>
            <option [selected]="customer.documentType === 'CC'" value="CC" >Cédula de ciudadanía</option>
            <option [selected]="customer.documentType === 'CE'" value="CE" >Cédula de extranjería</option>
            <option [selected]="customer.documentType === 'NIT'" value="NIT" >NIT</option>
            <option [selected]="customer.documentType === 'NUIP'" value="NUIP" >NUIP</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label for="documentNumber">Documento</label>
          <input id="documentNumber" class="form-control input-lg" id="documentNumber" placeholder="Ingresa el número de documento" type="text" name="documentNumber" [(ngModel)]="customer.documentNumber" />
        </div>
      </div>
      <div class="row" *ngIf="customer.documentType === 'NIT'">
        <div class="col-xs-12">
          <label for="name">Razón Social</label>
          <input id="name" class="form-control input-lg" id="name" placeholder="Ingresa la razón social" type="text" name="name" [(ngModel)]="customer.companyName" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="name">Nombre {{customer.documentType === 'NIT' ? 'de contacto': ''}}</label>
          <input id="name" class="form-control input-lg" id="name" placeholder="Ingresa el nombre" type="text" name="name" [(ngModel)]="customer.name" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="surname">Apellido</label>
          <input id="surname" class="form-control input-lg" id="surname" placeholder="Ingresa el apellido" type="text" name="surname" [(ngModel)]="customer.surname" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="dropdownMenu2">Departamento</label>
          <select id="dropdownMenu2" (change)="seleccionarDepartamento()" name="selectedState" [(ngModel)]="departamentoSeleccionado">
            <option style="display:none" disabled selected value>Selecciona un departamento</option>
            <option [selected]="departamentoSeleccionado == dpto._id" value="{{dpto._id}}" *ngFor="let dpto of states">{{dpto.name}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="dropdownMenu3">Ciudad</label>
          <select id="dropdownMenu3" (change)="seleccionarCiudad()" name="selectedCity" [(ngModel)]="ciudadSeleccionada" [disabled]="cities.length == 0">
            <option style="display:none" disabled selected value>Selecciona una ciudad</option>
            <option [selected]="ciudadSeleccionada == ciudad._id" value="{{ciudad._id}}" *ngFor="let ciudad of cities">{{ciudad.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label for="address">Dirección</label>
          <input id="address" class="form-control input-lg" id="surname" placeholder="Ingresa la dirección" type="text" name="address" [(ngModel)]="customer.address" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="landLineNumber">Teléfono fijo</label>
          <input id="landLineNumber" class="form-control input-lg" id="surname" placeholder="Ingresa el teléfono fijo" type="text" name="landLineNumber" [(ngModel)]="customer.landLineNumber" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="cellphoneNumber">Celular</label>
          <div class="icono-llamar" *ngIf="customer.cellphoneNumber">
            <a href="tel:{{customer.cellphoneNumber}}">
              <span class="glyphicon glyphicon-earphone visible-xs"></span>
            </a>
          </div>
          <input id="cellphoneNumber" class="form-control input-lg" id="surname" placeholder="Ingresa el celular" type="text" name="cellphoneNumber" [(ngModel)]="customer.cellphoneNumber" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
          <label for="email">Correo</label>
          <input id="email" class="form-control input-lg" id="surname" placeholder="Ingresa el correo electrónico" type="email" name="email" [(ngModel)]="customer.email" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="file" accept="image/*;capture=camera">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 btn-cliente-l" *ngIf="validarCliente()">
          <button id="btn_guardar" type="button" class="btn btn-primary btn-lg" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 btn-cliente-r" *ngIf="validarCliente()">
          <button id="btn_cancelar" type="button" class="btn btn-danger btn-lg" (click)="limpiarFormulario()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  <hr/>
  <div class="row" *ngIf="customers && customers.length > 0">
    <div class="col-xs-12">
      <h4>Lista de clientes</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-md-4">
      <form>
        <select class="form-control input-lg" id="tamanoPagina" (change)="cambioTamanoPagina()" name="tamanoPagina" [(ngModel)]="pageSize">
          <option [selected]="pageSize == 10" value="10">10 x pag</option>
          <option [selected]="pageSize == 30" value="30">30</option>
          <option [selected]="pageSize == 50" value="50">50</option>
          <option [selected]="pageSize == 100" value="100">100</option>
          <option [selected]="pageSize == 50000" value="50000">Todos</option>
        </select>
      </form>
    </div>
    <div class="col-xs-7 col-md-4">
        <form (submit)="listarClientes()">
          <div class="input-group">
            <input class="form-control input-lg" [(ngModel)]="filtroBusqueda" placeholder="Buscar..." name="busqueda" type="search" />
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
          <!-- /input-group -->
        </form>
    </div>
    <div class="col-xs-12 col-md-4">
      <ul class="paginador">
        <li (click)="mostrarPagina(page-1)">&laquo;</li>
        <li (click)="mostrarPagina(pagina)" *ngFor="let pagina of pages" [class.active]="pagina == page">{{pagina}}</li>
        <li (click)="mostrarPagina(page+1)">&raquo;</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover ">
          <tr>
            <th style="text-align: right; width: 40px;">&#35;</th>
            <th style="width: 50px;">T.D.</th>
            <th style="text-align: right; width: 120px;">Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Celular</th>
            <th>Correo</th>
          </tr>
          <tr *ngFor="let customerRow of customers; let i = index" (click)="seleccionarCliente(customerRow)" [class.info]="customerRow._id === customer._id">
            <td style="text-align: right;">{{i+1}}</td>
            <td>{{customerRow.documentType}}</td>
            <td style="text-align: right;">{{customerRow.documentNumber}}</td>
            <td>{{customerRow.name}}</td>
            <td>{{customerRow.surname}}</td>
            <td>{{customerRow.cellphoneNumber}}</td>
            <td>{{customerRow.email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
