.modal-content {
  background-color: rgba(25,25,25,0.6);
  -webkit-box-shadow: 0 5px 15px rgba(250,250,250,.5);
  box-shadow: 0 5px 15px rgba(250,250,250,.5);
}

.login-bg {
  position: absolute;
  top: 0px;
  left: 0px;

  background-image: url('/assets/img/backgrounds/squared_metal.png');
  /*background-size: cover;*/

  width: 100%;
  height: 100%;
}
