h3 {
  color: #A01E20;
}

p {
  font-size: 16px;
}

label {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 17px;
  color: #a01e20;
}

select {
  padding-top: 12px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 18px;
  width: 100%;
}

select[disabled] {
  color: #999;
  background-color: #eee;
}

.btn-margin-33{
  margin-top: 33px;
}

.btn-usuario {
  text-align: center;
  padding-top: 5px;
}

#dropdownMenu1 {
  width: 100%;
  text-align: left;
}

#btn_guardar, #btn_cancelar {
  margin-top: 25px;
}

.btn-lg .caret {
  float: right;
  margin-top: 10px;
}

.btn-usuario-l, .btn-usuario-r {
  text-align: center;
  padding-top: 5px;
}

.usuario-inactivo {
  color: #aaa;
}

@media only screen and (min-width: 768px) {
  .table {
    cursor: pointer;
  }
  .btn-usuario-l {
    text-align: right;
    padding-top: 5px;
  }
  .btn-usuario-r {
    text-align: left;
    padding-top: 5px;
  }
}
