<motokob-sidenav></motokob-sidenav>
<h2>Administrar Productos</h2>
<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="alert alert-success" role="alert" *ngIf="successMessage">{{successMessage}}</div>

  <div id="modalProducto" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Productos</h4>
        </div>
        <div class="modal-body">
          <div class="row" *ngIf="pasoProducto === 1">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <label for="marca">Marca:</label>
                  <select id="marca" name="selectedBrand" (change)="seleccionarMarca()" [(ngModel)]="marcaSeleccionada" [class.required-field]="!valid"
                    required>
                    <option style="display:none" disabled selected value>Seleccione una marca</option>
                    <option [selected]="marcaSeleccionada == brand._id" value="{{brand._id}}" *ngFor="let brand of brands">{{brand.name}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <label for="nuevaMarca">Nueva marca:</label>
                  <div class="input-group">
                    <input id="nuevaMarca" type="text" class="form-control input-lg" name="name" placeholder="Ingresa la marca" [(ngModel)]="brand.name">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default btn-lg" (click)="addBrand()">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="selImage">Seleccione logo:</label>
                  <input id="selImage" type="file" class="form-control input-lg input-file" (change)="imageLogo($event)">
                  <label for="selImage" class="label-file">
                    <span style="padding: 11px">{{logoMarca}}</span>
                    <strong>
                      <span class="glyphicon glyphicon-save-file span-file"></span>
                    </strong>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pasoProducto === 2">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <label for="tipo">Tipo:</label>
                  <select id="tipo" name="selectedType" (change)="seleccionarTipoProducto()" [(ngModel)]="productTypeSeleccionado" [class.required-field]="!valid"
                    required>
                    <option style="display:none" disabled selected value>Seleccione un tipo</option>
                    <option [selected]="productTypeSeleccionado == typeRow._id" value="{{typeRow._id}}" *ngFor="let typeRow of productTypes">{{typeRow.name}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <label for="nuevoTipo">Nuevo tipo:</label>
                  <div class="input-group">
                    <input id="nuevoTipo" type="text" class="form-control input-lg" name="name" placeholder="Ingresa el tipo" [(ngModel)]="productType.name">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default btn-lg" (click)="addProductType()">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pasoProducto === 3">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">
                  <label for="nombre">Nombre:</label>
                  <input id="nombre" type="text" class="form-control input-lg" name="name" placeholder="Ingresa el nombre" [(ngModel)]="product.name"
                    [class.required-field]="!valid" required>
                </div>
                <div class="col-xs-6">
                  <label for="modelo">Modelo:</label>
                  <input id="modelo" type="number" class="form-control input-lg" name="model" placeholder="Ingrese el modelo" [(ngModel)]="product.model"
                    [class.required-field]="!valid" required>
                </div>
                <div class="col-xs-6">
                  <label for="cilindraje">Cilindraje:</label>
                  <input id="cilindraje" type="number" class="form-control input-lg" name="cylinder" placeholder="Ingrese el cilindraje" [(ngModel)]="product.cylinder"
                    [class.required-field]="!valid" required>
                </div>
                <div class="col-xs-6">
                  <label for="precio">Precio:</label>
                  <input id="precio" type="number" class="form-control input-lg" name="price" placeholder="Ingrese el precio" [(ngModel)]="product.price"
                    [class.required-field]="!valid" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pasoProducto === 4">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <label for="nuevoColor">Nuevo color:</label>
                  <div class="input-group">
                    <input id="nuevoColor" type="text" class="form-control input-lg" name="name" placeholder="Ingresa el color" [(ngModel)]="nombreColor"
                      autocomplete="off">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default btn-lg" (click)="guardarColor()">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <label>Colores disponibles:</label>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tr *ngFor="let color of colors" (click)=seleccionarColor(color._id)>
                        <td>
                          <span *ngIf="!color.seleccionado" class="glyphicon glyphicon-unchecked"></span>
                          <span *ngIf="color.seleccionado" class="glyphicon glyphicon-check"></span>
                        </td>
                        <td>
                          {{color.name}}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pasoProducto === 5">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <label for="selImage">Seleccione imagen</label>
                  <input id="selImage" type="file" class="form-control input-lg input-file" (change)="imageSelected($event)" multiple>
                  <label for="selImage" class="label-file">
                    <span style="padding: 11px">{{image}}</span>
                    <strong>
                      <span class="glyphicon glyphicon-save-file span-file"></span>
                    </strong>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6" *ngFor="let image of product.images">
                  <div class="contendor-imagen">
                    <div class="row">
                      <div class="col-xs-8">
                        <img src="{{image}}" alt="" style="max-height: 104px">
                      </div>
                      <div class="col-xs-4 text-center btn-eliminar-imagen">
                        <span class="glyphicon glyphicon-remove pointer-cursor" (click)="quitarImagen(image)"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="pasoProducto === 6">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h4>Resumen</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center" style="margin-bottom: 10px">
                  <img src="{{product.brand.logo}}" alt="" style="height: 100px">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <td><b>Marca:</b></td>
                        <td>{{product.brand.name}}</td>
                      </tr>
                      <tr>
                        <td><b>Tipo:</b></td>
                        <td>{{product.productType.name}}</td>
                      </tr>
                      <tr>
                        <td><b>Nombre:</b></td>
                        <td>{{product.name}}</td>
                      </tr>
                      <tr>
                        <td><b>Modelo:</b></td>
                        <td class="text-right">{{product.model}}</td>
                      </tr>
                      <tr>
                        <td><b>Cilindraje:</b></td>
                        <td class="text-right">{{product.cylinder}}</td>
                      </tr>
                      <tr>
                        <td><b>Precio:</b></td>
                        <td class="text-right">{{product.price | number}}</td>
                      </tr>
                      <tr>
                        <td><b>Colores:</b></td>
                        <td class="text-right">{{product.colors.length | number}}</td>
                      </tr>
                      <tr>
                        <td><b>Imagenes:</b></td>
                        <td class="text-right">{{product.images.length | number}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-12 text-left">
              <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
            </div>
          </div>
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" (click)="limpiar()">Cerrar</button>
          <button type="button" class="btn btn-default btn-lg" (click)="anteriorPasoProducto()" *ngIf="pasoProducto > 1">Anterior</button>
          <button type="button" class="btn btn-primary btn-lg" (click)="siguientePasoProducto()" *ngIf="pasoProducto < 6">Siguiente</button>
          <button type="button" class="btn btn-primary btn-lg" (click)="addProduct()" *ngIf="pasoProducto === 6">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">{{brands}}</div>
    <div class="col-xs-12">
      <h3>Lista de productos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-2 center" style="margin-bottom: 10px;">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalProducto">Nuevo</button>
    </div>
    <div class="col-xs-5 col-md-2 center" style="margin-bottom: 10px;">
      <form>
        <select class="form-control input-lg" id="tamanoPagina" (change)="cambioTamanoPagina()" name="tamanoPagina" [(ngModel)]="pageSize">
          <option [selected]="pageSize == 10" value="10">10 x pag</option>
          <option [selected]="pageSize == 30" value="30">30 x pag</option>
          <option [selected]="pageSize == 50" value="50">50 x pag</option>
          <option [selected]="pageSize == 100" value="100">100 x pag</option>
          <option [selected]="pageSize == 50000" value="50000">Todos</option>
        </select>
      </form>
    </div>
    <div class="col-xs-7 col-md-4">
      <form (submit)="listarProductos()">
        <div class="input-group">
          <input class="form-control input-lg" [(ngModel)]="filtroBusqueda" placeholder="Buscar..." name="busqueda" type="search" />
          <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-md-4" style="text-align: center">
      <ul class="paginador" style="width: 100%">
        <li (click)="mostrarPagina(page - 1)">&laquo;</li>
        <li (click)="mostrarPagina(pagina)" *ngFor="let pagina of pages" [class.active]="pagina == page">{{pagina}}</li>
        <li (click)="mostrarPagina(page + 1)">&raquo;</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr class="head-table">
            <th>#</th>
            <th style="width: 20px"></th>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cilindraje</th>
            <th>Precio</th>
            <th>Imagenes</th>
            <th>Colores</th>
          </tr>
          <tr *ngFor="let productRow of products; let i = index" [class.info]="productRow._id == product._id" (click)="selectProduct(productRow)">
            <td>{{i + 1}}</td>
            <td>
              <div id="color{{productRow._id}}" style="height: 20px; width: 20px; border-radius: 100%;" [ngStyle]="{background: productRow.color}"></div>
            </td>
            <td>
              <div *ngIf=productRow.name>{{productRow.name}}</div>
            </td>
            <td>
              <div *ngIf="productRow.productTypeId">{{productRow.productTypeId.name}}</div>
            </td>
            <td>
              <div *ngIf="productRow.brandId">{{productRow.brandId.name}}</div>
            </td>
            <td>
              <div *ngIf="productRow.model">{{productRow.model}}</div>
            </td>
            <td>
              <div *ngIf="productRow.cylinder">{{productRow.cylinder}}</div>
            </td>
            <td>
              <div *ngIf="productRow.price">{{productRow.price | number}}</div>
            </td>
            <td>
              <div *ngIf="productRow.images">{{productRow.images.length}}</div>
            </td>
            <td>
              <div *ngIf="productRow.colors">{{productRow.colors.length}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>