<span class="glyphicon glyphicon-menu-hamburger" (click)="openNav()"></span>

<div id="mySidenav" class="sidenav" *ngIf="identity">
  <div>
    <img src="assets/img/encabezado.jpg" class="img-sidenav" />
  </div>
  <div>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Inicio</a>
    <a href="#" [routerLink]="['/clientes']" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Clientes</a>
    <a href="#" [routerLink]="['/productos']" routerLinkActive="active"><span class="glyphicon glyphicon-shopping-cart"></span> Productos</a>
    <a href="#" [routerLink]="['/empleados']" routerLinkActive="active"><span class="glyphicon glyphicon-briefcase"></span> Empleados</a>
    <a href="#" [routerLink]="['/cotizaciones']" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span> Cotizaciones</a>
    <a href="#"><span class="glyphicon glyphicon-stats"></span> CRM</a>
    <a href="#"><span class="glyphicon glyphicon-usd"></span> Créditos</a>
    <a href="#" [routerLink]="['/configuracion']" routerLinkActive="active"><span class="glyphicon glyphicon-cog"></span> Configuración</a>
    <div class="nav-btn-salir">
      <div (click)="cerrarSesion()"><span class="glyphicon glyphicon-log-out"></span> Salir</div>
    </div>
  </div>
</div>

<div class="body-overlay" id="overlay" (click)="closeNav()">
</div>
